version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  detailed:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s'

handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: standard
    stream: ext://sys.stdout
    
  file:
    class: logging.FileHandler
    level: INFO
    formatter: detailed
    filename: logs/spamshieldai.log
    
  file_error:
    class: logging.FileHandler
    level: ERROR
    formatter: detailed
    filename: logs/errors.log

loggers:
  spamshieldai:
    level: DEBUG
    handlers: [console, file]
    propagate: no

root:
  level: DEBUG
  handlers: [console, file, file_error]
